{erl_opts, [debug_info, warn_export_all]}.
{erl_first_files, ["etran_util.erl", "erlpipe.erl"]}.

{plugins, [rebar3_hex, rebar3_ex_doc]}.

{edoc_opts, [{title,          "Collection of Erlang parse transforms"},
             {overview,       "build-aux/overview.edoc"},
             {stylesheet_file,"build-aux/edoc.css"},
             {keywords,       "erlang, parse transform, pipe, pipeline, map-reduce, map, reduce, ternary, if, iif"},
             {pretty_printer, erl_pp},
             {app_default,    "http://www.erlang.org/doc/man"}]}.

{eunit_compile_opts, [{d,str_i2l},{d,str_b2l}]}.

{ex_doc, [
    {extras, [
      {"README.md", #{title => "Overview"}},
      {"LICENSE",   #{title => "License"}}
    ]},
    {main,          "README.md"},
    {source_url,    "https://github.com/saleyn/etran"}
]}.
