{erl_opts, [debug_info, warn_export_all]}.
{erl_first_files, ["etran_util.erl", "erlpipe.erl"]}.

{edoc_opts, [{title,         "Collection of Erlang parse transforms"},
             {overview,      "build-aux/overview.edoc"},
             {pretty_printer,erl_pp},
             {stylesheet,    "build-aux/edoc.css"},
             {app_default,   "http://www.erlang.org/doc/man"}]}.

{eunit_compile_opts, [{d,str_i2l},{d,str_b2l}]}.
